{
 :up   [
        "CREATE TABLE IF NOT EXISTS book_info (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100),
        no_of_copies INTEGER,
        date_created TIMESTAMP default (now() at time zone 'utc'),
        date_changed TIMESTAMP default NULL);"
        ]
 :down ["DROP TABLE book_info;"]
 }