{
 :up   [
        "CREATE TABLE IF NOT EXISTS book_info (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        no_of_copies INTEGER NOT NULL,
        author_name VARCHAR(100) NOT NULL,
        description VARCHAR(250),
        logo_url VARCHAR(100),
        genre_id INTEGER REFERENCES genres(id),
        date_created TIMESTAMP default (now() at time zone 'utc'),
        date_changed TIMESTAMP default NULL);"
        ]
 :down ["DROP TABLE IF EXISTS book_info cascade;"]
 }